<!doctype html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{request.static_url('koala:static/pyramid-16x16.png')}}">
    

    <title>Koala</title>
    <!-- Bootstrap core CSS -->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('koala:static/theme.css')}}" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="{{request.static_url('koala:static/fontawesome/css/all.css')}}" rel="stylesheet">
    
  </head>

  <body>

     {# {% include "nav.jinja2" %} #}
    <div class="container-lg ml-5 mr-5">
        <!-- Main Content -->
	    <div class="row contentbg"> <!-- Content Row -->
          {% block content %}
          <p>No Content</p>
          {% endblock content %}
	    </div> <!-- Content Row-->

    </div> <!-- Main Row -->





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
