{% extends "layout.jinja2" %}

{% block content %}
<div class="col border">
<h1>{{currentModule.code}}--{{currentModule.title}} New Article</h1>

{% if msg %}
<div class="alert alert-warning">
{{ msg }}
</div>
{% endif %}

<form method=POST>
    <div class="form-group">
        <label for="topicSelect">Topic:</label>
        <select class="form-control" id="topicSelect" name="topicSelect">
            {% for heading in currentModule.navmenu %}
            <option value={{heading.id}}>{{heading.text}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="topicTitle">Title:</label>
        <input type="text" class="form-control" id="topicTitle" name="topicTitle">
    </div>



    <div class="form-group">
        <label for="articleContent">Content:</label>
        <textarea rows="25" class="form-control" name="articleContent" id="articleContent" placeholder="Content"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" name="save">Save</button>

</form>

</div>

{% endblock content %}


{% block customScripts  %}

{# Load the Editor #}
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("articleContent") });
</script>
{% endblock customScripts %}